<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fit.dao.SysUserDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.fit.entity.SysUserEntity" id="sysUserMap">
		<result property="id" column="id"/>
		<result property="creatdate" column="creatDate"/>
		<result property="name" column="name"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="desc" column="desc"/>
		<result property="enabled" column="enabled"/>
		<result property="isys" column="isys"/>
	    </resultMap>

	<select id="get" resultType="com.fit.entity.SysUserEntity">
		select * from sys_user where id = #{id}
	</select>

	<select id="findList" resultType="com.fit.entity.SysUserEntity">
		select * from sys_user where 1=1 
        <choose>
            <when test="creatDate != null and creatDate.trim() != ''">
                order by ${creatDate} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="findListAll" parameterType="java.util.Map" resultType="com.fit.entity.SysUserEntity">
		select * from sys_user where 1=1 
		<if test="queryName != null and queryName != ''">
		 and name like Concat('%',#{queryName},'%') or username like Concat('%',#{queryName},'%')
		</if>
        <choose>
            <when test="creatDate != null and creatDate.trim() != ''">
                order by ${creatDate} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>
	
 	<select id="findCount" parameterType="java.util.Map" resultType="int">
		select count(*) from sys_user where 1=1
		<if test="queryName != null and queryName != ''">
		 and name like Concat('%',#{queryName},'%') or username like Concat('%',#{queryName},'%')
		</if>
        <choose>
            <when test="creatDate != null and creatDate.trim() != ''">
                order by ${creatDate} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
	</select>
	 
	<insert id="save" parameterType="com.fit.entity.SysUserEntity" useGeneratedKeys="true" keyProperty="id">
		insert into sys_user
		(
			`creatDate`, 
			`name`, 
			`username`, 
			`password`, 
			`desc`, 
			`enabled`, 
			`isys`
		)
		values
		(
			#{creatdate}, 
			#{name}, 
			#{username}, 
			#{password}, 
			#{desc}, 
			#{enabled}, 
			#{isys}
		)
	</insert>
	 
	<update id="update" parameterType="com.fit.entity.SysUserEntity">
		update sys_user 
		<set>
			<if test="creatdate != null">`creatDate` = #{creatdate}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="desc != null">`desc` = #{desc}, </if>
			<if test="enabled != null">`enabled` = #{enabled}, </if>
			<if test="isys != null">`isys` = #{isys}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sys_user where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from sys_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>